.masthead-avatar {
	border-radius: 50%;
}

header {
	background-color: black;
}

.header__container {
	position: "relative";
	overflow: "hidden";
}

#header__img{
	z-index: 1;

}

#header__name{
	font-family: sans-serif;
}
